html{
	height: 100%;
}
body{
	background-image: url(https://lh4.googleusercontent.com/eNDTMQqg4wkCHwQ5PHBUkx1zg9sXUIZT1_YmBYo09GX-zhK7IfcQueelXe72RLEVwfJ2-SJneTZVOFgm1nV1KQWZzehj0ejkIBX_GdqQlBF9u_4c2kxaWk0DQzgy20fYjsaXPu4Q);
	background-size: cover;
	background-attachment: fixed;
}

input{
	margin: 10px;
}

.btn{
	margin: 10px;
}