html{
	height: 100%;
}
body{
	background-image: url(https://lh4.googleusercontent.com/eNDTMQqg4wkCHwQ5PHBUkx1zg9sXUIZT1_YmBYo09GX-zhK7IfcQueelXe72RLEVwfJ2-SJneTZVOFgm1nV1KQWZzehj0ejkIBX_GdqQlBF9u_4c2kxaWk0DQzgy20fYjsaXPu4Q);
	background-size: cover;
	background-attachment: fixed;
}

input{
	margin: 10px;
}

.btn{
	margin: 10px;
}

.fa {
	font-size: 1.4em;
	transition: font-size 0.3s;
	margin-left: 15px;
}

.fa:hover {
	font-size: 1.7em;
}

#add{

	margin: 10px;
	width: 150px;
	height: 50px;
	border-radius: 25px;
	background: rgba(100,20,33,0.1);
	color: darkgray;
	box-shadow: 0px 0px 10px gold; 
	border: none;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	transition: all 1s;
	outline: none;
}

#add:hover{
	width: 250px;
	background: black;
	color: white;
	box-shadow: 0px 0px 10px red; 
	
}

